NEXT_PUBLIC_SUPABASE_URL=https://loiiyrkvxzaobmzdbdno.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxvaWl5cmt2eHphb2JtemRiZG5vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE0MDc4NDksImV4cCI6MjA4Njk4Mzg0OX0.ikU17ejw4C3q7gAV1P4YMQLeLjlspM2-Nznj4_MRXtQ
ANTHROPIC_API_KEY=sk-ant-api03-iFY...DgAA

